{
    "useTabs": false,
    "tabWidth": 2,
    "printWidth": 300,
    "trailingComma": "all",
    "semi": true,
    "singleQuote": true,
    "quoteProps": "consistent",
    "arrowParens": "always"
    }